table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    padding: 8px;
}

thead {
    text-align: center;
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}

dt {
    display: inline-block;
    width: 120px;
}

dd {
    display: inline-block;
    /*margin-left: 8px;*/
    /*vertical-align: top;*/
}

/*tbody tr:nth-child(odd){*/
/*    background: #C9E4F6;*/
/*}*/
/*tbody tr:nth-child(even){*/
/*    background: #B4DAF2;*/
/*}*/